.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .chatView {
        width: 100%;
        height: 90vh;
        background-color: #9ec6d6;
        position: relative;

        .chat {
            position: relative;
            display: inline-block;
            margin: 1.5em 0;
            padding: 7px 10px;
            min-width: 10rem;
            max-width: 15rem;
            height: 4rem;
            color: #555;
            font-size: 16px;
            background: #ffffff;
            margin: 0;
            padding: 0;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -15px;
                border: 15px solid transparent;
                border-top: 15px solid #ffffff;
            }

            p {
                margin: 0;
                padding: 0;
                text-align: center;
            }
        }
    }

    .inputBox {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .input {
            width: 80%;
            height: 4rem;
            border: 1px solid #262626;
            font-size: 2rem;
            padding-left: 1rem;
        }

        .addBtn {
            width: 5%;
            height: 4rem;
            background-color: #87ceeb;
            color: #ffffff;
            border-radius: 5px;

            &:hover {
                background-color: #60c0e6;
            }
        }

        .allDeleteBtn {
            width: 5%;
            height: 4rem;
            background-color: #87ceeb;
            color: #ffffff;
            border-radius: 5px;

            &:hover {
                background-color: #60c0e6;
            }
        }
    }
}