.foot {
    width: 100%;
    height: 8vh;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .item {
        width: 3rem;
        height: 3rem;
        display: block;

        p {
            margin: 0;
            padding: 0;
        }

        .faIcon {
            color: #ffffff;
        }

        .trIcon {
            color: blue;
        }
    }
}